@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Here is A Message!</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias laborum sapiente iste quasi, debitis quia itaque nesciunt nulla earum 
        unde rerum enim ut repellendus fugiat accusamus quisquam molestiae deleniti nam.</p>
</div>
