<div class="user">

    <h3 style="text-align: center;">Here is a User!</h3>
    <p class="userName" style="font-size: 42px; text-align: center;">@ViewBag.User.FirstName @ViewBag.User.LastName</p>

</div>